*
{padding:0;
    margin: 0;
  
  }
  body{
      background-color:rgba(255, 255, 255, 0.932);
      font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      
  }
  .menu{
   
      padding: 0 15rem;
      display: grid;
      height: 5rem;
  
  }
  .heading{
      background-color: #A3BCB6;
      color: rgb(2, 2, 19);
      margin-bottom: 3rem;
      padding: 0 3rem;
      text-align: center;
      
  }
  
  .align{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    justify-items: center;
    align-items: center;
    grid-gap: 1.5rem;
  }
  .items{
    
      width: 15.6rem;
      height: 18.7rem;
      margin: 0.1rem;
      border-radius: 0.10px;
      transform-style: preserve-3d;
      transition: all 0.8s ease;
  }
        

        .items:hover{
          transform: rotateY(180deg);
        }
        
        
         .front{
          position: absolute;
          width: 100%;
          height: 100%;
          border-radius: 0.9rem;
          backface-visibility: hidden;
          overflow: hidden;
          background: #A3BCB6;
          color: #000;
        }
        
        .back{
          margin-top:100px;
          border-radius: 0.9rem;
          backface-visibility: hidden;
          overflow: hidden;
          text-align: center;
          transform: rotateY(180deg);
      
        }
          
  .front img{
    height: 16.25rem;
    width: 15.6rem;
  }
  .items h4{
      padding:0.12rem;
      text-align: center;
  }
  .items button{
      padding: 0.31rem 1.8rem;
      background-color: #A3BCB6;
      color:white;
      cursor: pointer;
      font-size: 1rem;
      border-radius:2rem;
      margin-top: 1rem;
  }
  .items button:hover{
    color: black;
  }

  @media(max-width:998px){
   html{
    font-size: 55%;
   }
  }
  @media(max-width:768px){
    html{
      font-size: 30%;
    }
  }