*{
  margin:0;
  padding:0;

}

nav
{
display: flex;
justify-content:space-around;
background-color:transparent;
text-decoration: none; 


}
body
{ 
background-image:linear-gradient(rgba(240, 255, 255, 0.1), rgba(255, 255, 255, 0.2)),
url(one.jpg );
background-repeat: no-repeat;
background-size:cover;



}  
.logo{
  display: flex;
  color: rgb(24, 23, 23);
  letter-spacing: 2px;
  margin: 0 100px;
  padding: 15px;
  font-size: 30px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}



.menu
{display:flex;
justify-content: right;
padding: 0 300px;
}

.menu a{
margin: 0 15px;
padding: 0 15px;
color:black;
font-size: 20px;
text-decoration: none; 
 
}

.menu a:hover {
 
  color:rgb(240, 233, 233);
  text-decoration: none;

}

.intro{
    color:black;
    font-family:'Grape Nuts', cursive;
    padding: 100px;
    padding-block-end: 150px;
    text-align: center;
}
.intro h2{
  margin:0 300px ;
  font-size: 30px;
  font-weight: bold;
  padding: 0 50px;
}
.intro p{
  font-size: 20px;
  font-weight: 600;
  padding: 0 100px;

}


.container{
  background-color: blanchedalmond;
 color: black;
 text-align: center;
 }


 .box-container{
  background-color:#A3BCB6;
  display: flex;
  padding: 2rem;
  font-size: 1rem;
  
 }
 
.box {
  padding: 0 60px;

}
.box h3{
  color: blanchedalmond;
  font-size: 25px;
}
 .box a{
  color: rgb(7, 73, 73);
 }
 .box a:hover{
  color: blanchedalmond;
 }
 .box p{
  color:rgb(7, 73, 73);
 }

 